<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <style media="screen">
   .box{
    position: absolute;
    display: block;
    padding-bottom:100px;
    width:100%;
   }
    .jumbotron {
      margin-top: 0px;
      margin-bottom: 0px;
      background-image: url('{% static "images/bg4.png" %}');
      background-size: cover;
      background-repeat: no-repeat;
      min-height:700px;
    }

    .jumbotron h1 {
      text-align: center;
    }
  </style>

</head>

<body>
  {% include "vehicle/navbar.html" %}
  <br><br>
<div class="box">

  <div class="jumbotron" style="margin-bottom: 0px;margin-top: 0px;">
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  </div>
 
</div>

  {% include "vehicle/customer_mechanic_cards.html" %}
<br><br><br><br><br>
  {% include "vehicle/footer.html" %}
</body>

</html>
